body > h1 {
  color: black;
  text-align: center;
  font-family: cursive;
}


div  > div{
  border: 1px solid black;
  background-color: #67615B;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  margin: 20px;
}


/*
div > p {
  text-align: right;
  font-family: cursive
}
*/